@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.movie-container {
    width: 100px;
    height: 100px;
}

.movie-img {
    background-color: #373B69;
    width: 50px;
    height: 50px;
}